<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
	<p th:text="${student.getGroupId()}"></p>
	<p th:text="${student.getFirstName()}"></p>
	<p th:text="${student.getSecondName()}"></p>
	<p th:text="${student.getBirthDate()}"></p>
	<p th:text="${student.getAddress()}"></p>
	<p th:text="${student.getPhone()}"></p>
	<p th:text="${student.getEmail()}"></p>
	<br/>
	<hr/>
	<form th:method="GET" th:action="@{/students/{id}/edit(id=${student.getId()})}">
    	<input type="submit" value="Edit"/>
    </form>
    <br>
	<form th:method="DELETE" th:action="@{/students/{id}(id=${student.getId()})}">
    	<input type="submit" value="Delete"/>
	</form>
	<br>
	<form th:method="GET" th:action="@{/students}">
    	<input type="submit" value="Back"/>
	</form>
	
	<br>
	<hr/>
	<p> Timetable</p>
	<hr/>
	<table>
		<tr>
			<th>Date</th>
			<th>Lesson number</th>
			<th>Course Id</th>
			<th>Classroom Id</th>
			<th>Teacher Id</th>
		</tr>
		<tr th:each="lesson : ${lessons}">
		    <td th:text="${lesson.getDate()}">
		    <td th:text="${lesson.getLessonNumber()}">
		    <td th:text="${lesson.getCourseId()}">
		    <td th:text="${lesson.getClassroomId()}">
		    <td th:text="${lesson.getTeacherId()}">
		</tr>
	</table>
</body>
</html>
